@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins',sans-serif;
}

.menu-bar{
    background: #16213e;
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
}

.active,.menu-bar ul li:hover{
    background: #0f3460;
    border-radius: 3px;
}

.sub-menu{
    display: none;
}

.menu-bar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: #0f3460;
    margin-top: 15px;
    margin-left: -15px;
}



.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu ul li:last-child{
    border: none;
}

.menu-bar ul li:hover .sub-menu ul li a:hover{
    color: #b2ff00;
}

